# <center>**TABLES DE DONNEES ET FORMAT CSV-PARTIE 2**</center>

### 1) Rappel des fonctions précédentes

In [ ]:
import csv       # import du module (ou bilibothèque) csv

def lire_fichier_csv(nom_fichier):
    """renvoie une table contenue dans un fichier"""
    with open(nom_fichier, "r", encoding="utf-8") as fichier_notes:
        notes_iterateur = csv.reader(fichier_notes)
        return [ligne for ligne in notes_iterateur]
    
def affiche_table(table):
    """Affiche une table de manière lisible"""
    for ligne in table:
        for element in ligne:
            print(element," ", end="")
        print()

def cherche_eleve(table, nom_eleve):
    """renvoie la ligne correspondant à l'élève"""
    for ligne in table:
        if ligne[0] == nom_eleve:
            return ligne
    return None

def cherche_note_math(table, nom_eleve):
    """renvoie la note de math d'un eleve"""
    ligne = cherche_eleve(table, nom_eleve)
    if ligne:
        return ligne[2]
    return None

def change_prenom(table, nom_eleve, nouveau_prenom):
    """met à jour le prénom d'un eleve"""
    ligne = cherche_eleve(table, nom_eleve)
    if ligne:
        ligne[1] = nouveau_prenom

def augmente_un_note_math(table, nom_eleve):
    """Augmente de 1 point la note de math d'un eleve"""
    ligne = cherche_eleve(table, nom_eleve)
    if ligne:
        ligne[2] = min(int(ligne[2])+1, 20)
        
def convertir_ligne(ligne):
    """convertit les notes en type int"""
    for i in range(2,5):
        ligne[i] = int(ligne[i])
        
def convertir_table(table):
    """convertit toutes les lignes de la table en type int"""
    for ligne in table:
        convertir_ligne(ligne)
        
def enregistre_fichier_csv(table, nom_fichier):
    """enregistre une table au format csv"""
    with open(nom_fichier, mode="w", encoding="utf-8") as fichier_notes:
        notes_writer = csv.writer(fichier_notes)
        for ligne in table:
            notes_writer.writerow(ligne)

### 7) Recherche de plusieurs lignes dans la table

Complétez la **fonction table_forts_en_physique(table)** qui renvoie la liste (éventuellement vide) des élèves qui ont la moyenne en physique.
*Retour attendu :*  
[['Maltese', 'Corto', 15, 14, 12], ['Talon', 'Achile', 20, 17, 6], ['Duck', 'Donald', 7, 11, 16]]

In [ ]:
def table_forts_en_physique(table):
    """Votre code"""

#test
table_notes = lire_fichier_csv("notes_en_sciences.csv")
convertir_table(table_notes)
print("Ont la moyenne en physique :", table_forts_en_physique(table_notes))

Complétez la fonction **table_forts_en_MP(table)** qui renvoie la liste (éventuellement vide) des élèves qui ont la moyenne à la fois en math et en physique.
*Retour attendu :* 
[['Maltese', 'Corto', 15, 14, 12], ['Talon', 'Achile', 20, 17, 6]]

In [ ]:
def table_forts_en_MP(table):
    """Votre code"""

#test
table_notes = lire_fichier_csv("notes_en_sciences.csv")
convertir_table(table_notes)
print("Ont la moyenne en maths et en physique :", table_forts_en_MP(table_notes))

Complétez la fonction **table_pas_moyenne_partout(table)** qui renvoie la liste constituée uniquement des élèves qui n’ont pas la moyenne dans au moins l’une des trois disciplines.

*Retour attendu :*
[['Dalton', 'Avrel', 12, 8, 10], ['Lucky', 'luke', 12, 9, 17], ['Talon', 'Achile', 20, 17, 6], ['Duck', 'Donald', 7, 11, 16]]

In [ ]:
def table_pas_moyenne_partout(table):
    """Votre code"""

#test
print("Tous les élèves :")
affiche_table(table_notes)
print("Elèves n'ayant pas la moyenne partout :")
affiche_table(table_pas_moyenne_partout(table_notes))

### 8) Trier une table suivant une colonne

On souhaite pouvoir trier les élèves suivant une colonne.

Python propose deux fonctions qui permettent de trier des listes :
- La fonction **sorted(une_liste)** qui renvoie une copie triée dans l'ordre croissant de liste une_liste.
- La méthode **une_liste.sort()** qui trie dans l'ordre croisssant la liste une_liste, en la modifiant. 

On peut passer à **sort** ou à **sorted** un argument **key=une_fonction**.
La liste est alors triée selon les valeurs renvoyées par une_fonction quand on l'applique à chacun des éléments de la liste.
Complétez la fonction **note_math(ligne)** qui renvoie la note de math de l'élève d'une ligne donnée et permettra ainsi
de trier les élèves dans l'ordre croissant des notes de math.

In [ ]:
def note_math(ligne):
    """Votre code"""


##test
table_notes = lire_fichier_csv("notes_en_sciences.csv")
convertir_table(table_notes)
table_notes.sort(key=note_math)
print("Elèvess triés dans l'ordre croissant des notes de math :")
affiche_table(table_notes)

On peut aussi trier des listes dans l'ordre décroissant en utilisant l'argument **reverse=True**.
Ecrire un script qui affiche les élèves dans l'ordre alphabétique décroissant.

In [ ]:
"""Votre code"""

### 9) Fusionner deux tables

On dispose d'un second fichier "notes_lettres.csv" contenant les notes des élèves en Français et en Histoire.
On souhaite pouvoir regrouper les notes dans une même table.
Complétez la fonction **fusion(table1, table2)** qui renvoie la nouvelle table obtenue en fusionnant deux tables de notes.

In [ ]:
def fusionne_tables(table1, table2):
    """Votre code"""

##test
table_notes1 = lire_fichier_csv("notes_en_sciences.csv")
print("Notes en sciences :")
affiche_table(table_notes1)
table_notes2 = lire_fichier_csv("notes_en_lettres.csv")
print("Notes en lettres :")
affiche_table(table_notes2)
print("Fusion des deux tables :")
affiche_table(fusionne_tables(table_notes1, table_notes2))

### 10) Tester si les données de la table sont valides

Quand beaucoup de données sont saisies par différentes personnes, des erreurs peuvent se produire.
Il faut pouvoir les détecter pour éventuellement les corriger.
On dispose d'un autre fichier de notes "notes_annee_precedente.csv". Exécutez le code ci-dessous.

Il y a un problème avec la table. Affichons-la :

In [ ]:
table_notes = lire_fichier_csv("notes_annee_precedente.csv")
affiche_table(table_notes)

La table comporte des doublons. C'est un problème car si on veut modifier des valeurs pour Maltese, on risque de ne le faire que dans une seule ligne. Après plusieurs manipulations de la table, quelles valeurs ressortiront ? C'est parfois difficile à prévoir.
Complétez la fonction **doublons(table_notes)** qui renvoie la liste des élèves apparaissant plus d'une fois dans la table.
*Retour attendu:*
['Maltese', 'Talon']

In [ ]:
def doublons(table_notes):
    """Votre Code"""

##tests
table_notes = lire_fichier_csv("notes_annee_precedente.csv")
print(doublons(table_notes))

Un autre problème peut venir aussi de notes mal saisies.
Complétez la fonction **note_coherente(note_str)** qui renvoie True si la chaine de caractères note_str contient bien une note entière comprise au sens large entre 0 et 20.

In [ ]:
def note_coherente(note_str):
    """Votre Code"""

##tests
print(note_coherente("17"))
print(note_coherente("4,5"))
print(note_coherente("-2"))
print(note_coherente("18"))
print(note_coherente("1a"))
print(note_coherente("33"))

Complétez la fonction **notes_incoherentes(table_notes)** qui renvoie la lite des élèves de la table ayant des notes incohérentes.
*Retour attendu:*
[['Dalton', 'Averell', '13', '91', '11'], ['Lucky', 'luke', '7', '7', '77']]

In [ ]:
def notes_incoherentes(table_notes):
    """Votre Code"""

##tests
table_notes = lire_fichier_csv("notes_annee_precedente.csv")
affiche_table(table_notes)
print(notes_incoherentes(table_notes))

Le choix du traitement à appliquer aux doublons ou aux valeurs incohérentes n'est pas une question simple. Il dépend souvent du type de données étudiées.